*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sky{
  position: relative;
  background-image: url('http://hmcaranimation.surge.sh/Imagesandsound/background.jpg');
  height: 100vh;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.trees{
  position: absolute;
  bottom: 200px;
  left: 0px;
  z-index: -1;
}

.road{
  position: absolute;
  bottom: -60px;
  left: 0px;
  width: 100%;
}

.car{
  position: absolute;
  bottom: 170px;
  left: 0px;
  text-align: center;
}

.wheel{
  position: absolute;
  bottom: 170px;
  left: 0px;
  text-align: center;
}

#wheel1{
  position: relative;
  top: 20px;
  left: 70px;
  width: 180px;
  height: 190px;
}


#wheel2{
  position: relative;
  top: 34px;
  left: 265px;
  width: 180px;
  height: 190px;
}

#play{
  z-index: 999;
  width: 145px;
  height: 50px;
  font-size: medium;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}

#pause{
  z-index: 999;
  width: 145px;
  height: 50px;
  font-size: medium;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
}